.navbar{
    height:70px;
    padding-left:20px;
    padding-right:20px;
}

.navbar-brand{
    font-size:24px;
    font-weight:bold;
}

.btn{
    min-width:110px;
}

.text-white{
    font-size:17px;
}