<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">

    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand fw-bold">
            🚌 College Bus Crowd Prediction System
        </a>

        <!-- Right Menu -->
        <div class="d-flex align-items-center">

            <button class="btn btn-outline-light me-2" routerLink="/dashboard">

                <i class="bi bi-speedometer2"></i>
                Dashboard

            </button>

            <button class="btn btn-outline-light me-2" routerLink="/profile">

                <i class="bi bi-person-circle"></i>
                Profile

            </button>

            <span class="text-white me-3 fw-bold">

                Welcome {{ username }}

            </span>

            <button class="btn btn-danger" (click)="logout()">

                <i class="bi bi-box-arrow-right"></i>
                Logout

            </button>

        </div>

    </div>

</nav>