<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-success text-white">

            <h4>My Bus Details</h4>

        </div>

        <div class="card-body">

            <table class="table table-bordered">

                <tr>
                    <th>Bus Number</th>
                    <td>{{bus.busNo}}</td>
                </tr>

                <tr>
                    <th>Registration Number</th>
                    <td>{{bus.registrationNumber}}</td>
                </tr>

                <tr>
                    <th>Capacity</th>
                    <td>{{bus.capacity}}</td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td>{{bus.status}}</td>
                </tr>

                <tr>
                    <th>Current Stop</th>
                    <td>{{bus.currentStop}}</td>
                </tr>

                <tr>
                    <th>Next Stop</th>
                    <td>{{bus.nextStop}}</td>
                </tr>

            </table>

        </div>

    </div>

</div>