<div class="container mt-5">

  <div class="card p-4 shadow">

    <h2 class="text-center mb-4">Bus Crowd Prediction System</h2>

    <h5 class="text-center text-muted mb-4">
      Admin & Student Login
    </h5>

    <input class="form-control mb-3" placeholder="Username (Admin) or Email (Student)" [(ngModel)]="username">

    <input type="password" class="form-control mb-3" placeholder="Password" [(ngModel)]="password">

    <button class="btn btn-primary w-100" (click)="login()">
      Login
    </button>

    <div class="text-center mt-3">
      <a routerLink="/register">
        New User? Register Here
      </a>
    </div>

    <p class="text-danger text-center mt-3">
      {{message}}
    </p>

  </div>

</div>