<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow">

                <div class="card-header bg-primary text-white text-center">

                    <h3>🎓 Student Login</h3>

                </div>

                <div class="card-body">

                    <form [formGroup]="loginForm" (ngSubmit)="loginStudent()">

                        <!-- Email -->

                        <div class="mb-3">

                            <label>Email</label>

                            <input type="email" class="form-control" formControlName="email">

                            <small class="text-danger"
                                *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">

                                Enter a valid email.

                            </small>

                        </div>

                        <!-- Password -->

                        <div class="mb-3">

                            <label>Password</label>

                            <input type="password" class="form-control" formControlName="password">

                            <small class="text-danger"
                                *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">

                                Password is required.

                            </small>

                        </div>

                        <button class="btn btn-primary w-100" [disabled]="loginForm.invalid">

                            Login

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>