<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-success text-white">

            <h4>My Attendance</h4>

        </div>

        <div class="card-body">

            <table class="table table-bordered table-hover">

                <thead>

                    <tr>

                        <th>#</th>
                        <th>Scan Time</th>
                        <th>Scan Type</th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let a of attendanceList; let i=index">

                        <td>{{i+1}}</td>

                        <td>{{a.scanTime | date:'dd-MM-yyyy hh:mm a'}}</td>

                        <td>{{a.scanType}}</td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>