<div class="container mt-4">

    <h2 class="mb-4">
        🎓 Student Dashboard
    </h2>

    <div class="alert alert-primary">

        <h4>
            Welcome, {{studentName}}
        </h4>

    </div>

    <div class="row">

        <div class="col-md-4 mb-3">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h5>👤 My Profile</h5>

                    <button class="btn btn-primary mt-2" routerLink="/student-profile">
                        View
                    </button>
                </div>

            </div>

        </div>

        <div class="col-md-4 mb-3">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h5>🚌 My Bus</h5>

                    <button class="btn btn-success mt-2" routerLink="/student-bus">

                        View

                    </button>

                </div>

            </div>

        </div>

        <div class="col-md-4 mb-3">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h5>📍 My Route</h5>

                    <button class="btn btn-info mt-2" routerLink="/student-route">

                        View

                    </button>

                </div>

            </div>

        </div>

        <div class="col-md-4 mb-3">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h5>📅 Attendance</h5>

                    <button class="btn btn-warning mt-2" routerLink="/student-attendance">

                        View

                    </button>

                </div>

            </div>

        </div>

        <div class="col-md-4 mb-3">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h5>🔔 Notifications</h5>

                    <button class="btn btn-warning mt-2" routerLink="/student-notifications">


                        View

                    </button>

                </div>

            </div>

        </div>

        <div class="col-md-4 mb-3">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h5>⚠ Raise Complaint</h5>

                    <button class="btn btn-warning mt-2" routerLink="/student-complaint">

                        View

                    </button>

                </div>

            </div>

        </div>

    </div>

</div>