<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h4>Change Password</h4>
        </div>

        <div class="card-body">

            <div class="mb-3">

                <label>Current Password</label>

                <input type="password" class="form-control" [(ngModel)]="passwordData.currentPassword">

            </div>

            <div class="mb-3">

                <label>New Password</label>

                <input type="password" class="form-control" [(ngModel)]="passwordData.newPassword">

            </div>

            <div class="mb-3">

                <label>Confirm Password</label>

                <input type="password" class="form-control" [(ngModel)]="confirmPassword">

            </div>

            <button class="btn btn-success" (click)="changePassword()">

                Change Password

            </button>

        </div>

    </div>

</div>