<div class="sidebar">

    <h4 class="menu-title">
        🚌 Bus System
    </h4>

    <ul>

        <li routerLink="/dashboard" routerLinkActive="active">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </li>

        <li routerLink="/students" routerLinkActive="active">
            <i class="bi bi-people-fill"></i>
            Students
        </li>

        <li routerLink="/drivers" routerLinkActive="active">
            <i class="bi bi-person-badge-fill"></i>
            Drivers
        </li>

        <li routerLink="/buses" routerLinkActive="active">
            <i class="bi bi-bus-front-fill"></i>
            Buses
        </li>

        <li routerLink="/routes" routerLinkActive="active">
            <i class="bi bi-sign-turn-right-fill"></i>
            Routes
        </li>

        <li routerLink="/stops" routerLinkActive="active">
            <i class="bi bi-geo-alt-fill"></i>
            Stops
        </li>

        <li routerLink="/attendance" routerLinkActive="active">
            <i class="bi bi-calendar-check-fill"></i>
            Attendance
        </li>

        <li routerLink="/bus-occupancy" routerLinkActive="active">
            <i class="bi bi-bar-chart-fill"></i>
            Bus Occupancy
        </li>

        <li routerLink="/live-bus-tracking" routerLinkActive="active">
            <i class="bi bi-geo-alt-fill"></i>
            Live Bus Tracking
        </li>

        <li routerLink="/student-bus-assignment" routerLinkActive="active">
            <i class="bi bi-journal-check"></i>
            Assignments
        </li>

        <li routerLink="/complaints" routerLinkActive="active">
            <i class="bi bi-chat-left-text-fill"></i>
            Complaints
        </li>

        <li routerLink="/notifications" routerLinkActive="active">
            <i class="bi bi-bell-fill"></i>
            Notifications
        </li>

        <li routerLink="/profile" routerLinkActive="active">
            <i class="bi bi-person-circle"></i>
            Profile
        </li>

        <li routerLink="/settings" routerLinkActive="active">
            <i class="bi bi-gear-fill"></i>
            Settings
        </li>

    </ul>

</div>