<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h4>My Route Details</h4>
        </div>

        <div class="card-body">

            <table class="table table-bordered">

                <tr>
                    <th>Route Name</th>
                    <td>{{route.routeName}}</td>
                </tr>

                <tr>
                    <th>Start Point</th>
                    <td>{{route.startLocation}}</td>
                </tr>

                <tr>
                    <th>End Point</th>
                    <td>{{route.endLocation}}</td>
                </tr>

                <tr>
                    <th>Distance</th>
                    <td>{{route.distanceKm}} KM</td>
                </tr>

            </table>

        </div>

    </div>

</div>